<!--
  Title: Bob's Computer Repair Shop
  Author: Professor Krasso
  Modified By: Group 2 - Brooke Taylor
  Date: 09/17/2023
  Description: index
-->

<div class="container-fluid pt-2">
  <h1 class="text-center">Admin: User Role Config</h1>


  <div class="container">
    <div class="row justify-content-center m5">
      <div class="col-lg-6 col-md-10 col-sm-12">

        <div class="card shadow">

          <div class="card-title text-center">

            <h2 class="p-3">User Information</h2>

          </div>

          <div class="m-5">

            <form [formGroup]="userForm" (ngSubmit)="updateUser();">

              <fieldset class="form-group">
                <legend>User Information</legend>

                <div class="mb-3">
                  <label for="txtFirstName">First Name:</label>
                  <input type="text" id="txtFirstName" class="form-control" formControlName="firstName" required>
                </div>

                <!-- first name error handling -->
                <div *ngIf="userForm.controls['firstName'].touched && userForm.controls['firstName'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    First name is required.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end first name error handling -->

                <div class="mb-3">
                  <label for="txtLastName">Last Name:</label>
                  <input type="text" id="txtLastName" class="form-control" formControlName="lastName" required>
                </div>

                 <!-- last name error handling -->
                 <div *ngIf="userForm.controls['lastName'].touched && userForm.controls['lastName'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Last name is required.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end last name error handling -->

                <div class="mb-3">
                  <label for="role">Role:</label><br />
                  <select formControlName="role" name="role" id="role" class="form-select-sm">
                    <option value="standard">Standard</option>
                    <option value="admin">Admin</option>
                  </select>
                </div>

                 <!-- role error handling -->
                 <div *ngIf="userForm.controls['role'].touched && userForm.controls['role'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Role is required.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end role error handling -->
              </fieldset>


              <button type="submit" id="submit" [disabled]="!userForm.valid" value="Submit" class="btn text-light brown mx-auto d-block">Submit</button>

            </form>



          </div>

        </div><!-- .card -->
        <a routerLink="/admin/users" class="text-underline-hover text-dark">Return to User List</a>

      </div>
    </div>
  </div>
</div>