/**
    Title: Bob's Computer Service
    Arthur: Professor Krasso
    Date: 09/15/2023
    Modified By: Brooke Taylor
    Description: user view styles
*/

.brown {
  background-color: #372e29;
}


.card {
  margin-top: 3em;
  border-radius: 15px;
}

.card-title {
  background-color: #372e29;
  border-radius: 15px 15px 0 0;
  color: white;
}

.brown {
  background-color: #372e29;
}