<!--
     Title: nav.component.html
     Author: Professor Krasso
     Co-Author: Janis Gonzalez
     Date: 9/12/2023
     Description: HTML for not-found
-->

<div class="container mt-5 text-center" style="min-height: 600px;">
  <div class="row">
    <!-- first column-->
    <div class="col-md-6">
      <img src="./assets/img/not-found.gif" alt="badger with yellow robes with a frame and eyes moving" class="img-fluid rounded">
    </div>

  <!-- second column -->
  <div class="col-md-6 my-5">
    <h1 class="display-1"></h1>
    <h2 class="display-4">Oops! Page Not Found!</h2>
    <h3 class="badger display-12">Bartholomew the 404 Badger says:</h3>
    <p class="lead">
      "It looks like you've taken a wrong turn on the path to the Hufflepuff Common Room.
      Please check the URL, or return to the main page for the information you seek."
    </p>
    <a routerLink="/" class="btn btn-outline-secondary">Go Home</a>
  </div>
  </div>
  </div>