/*
============================================
; Title: BCRS
; File Name: not-found.component.css
; Author: Janis Gonzalez
; Date: 9/12/2023
; Description: This is styling for not-found
; HTML file for the BCRS application
;===========================================
*/
.btn {
  background-color: #372e29;
  color: white;
}

.badger {
  color: #eeba35;
  text-shadow: 1px 1px #372e29b2;
}