<!--
  Title: Bob's Computer Repair Shop
  Author: Professor Krasso
  Modified By: Group 2 - Brooke Taylor, Janis Gonzalez, & Brett Grashorn
  Date: 09/24/2023
  Description: faq component
-->

<div style="min-height: 600px;">
  <div class="mt-3">
    <div class="header">
      <h1 class="mb-2">Frequently Asked Questions</h1>
      <p class="mt-2" style="width: 50%;">Here you will find step-by-step instructions to complete necessary work functions here at Bob's Computer Repair Shop.</p>
    </div>

    <div class="accordion mt-5" id="accordionFaq">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            User Configuration
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
          <div class="accordion-body">

              <h3>View the user list</h3>
              <ol>
              <li>
                <p>To view the list of user's, click on the profile at the top of any page.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-config-signin.jpg
                  " alt="Picture of BCRS home page with Sign-in outlined in red."></div>
              </li>
              <br>
              <br>
              <li>
                <p>Then click on the users option to take  you to the user list page.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-config-user-button.jpg
                  " alt="Picture of BCRS home page with the Profile drop down menu and users option outlined in a red box."></div>
              </li>
            </ol>
              <br>
              <br>

              <h3>Create a new user.</h3>
              <ol>
              <li>
                <p>Click on the new button "New User" button above the user list.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-new-user.jpg
                  " alt="Picture of the Admin: User Config interface with New User outlined in a red box."></div>
              </li>
              <br>
              <br>
              <li>
                <p>Fill out the new user's info then click submit.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-userStart.png
                  " alt="Picture of the User information form with First Name, Last Name, Phone Number, and Address.">
                  <img class="faq-img img-fluid" src="/assets/img/faq-userSet.png
                  " alt="Picture of User information form with Role, Employee ID, Email, and Password"></div>
              </li>
            </ol>
              <br>
              <br>

              <h3>Edit a current user.</h3>
              <ol>
              <li>
                <p>Click on the edit icon for the user you wish to edit.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-edit-user.jpg
                  " alt="Pictures of the Admin: User Config interface with the edit button outlined in red."></div>
              </li>
              <br>
              <br>
              <li>
                <p>Edit the user's info field(Note: Name and Role are the only editable parts for the user).</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-edit-user-config.jpg
                  " alt="Picture of the User Information form with First Name, Last Name, and Role."></div>
              </li>
            </ol>

              <br>
              <br>

              <h3>Delete a user.</h3>
              <ol>
              <li>
                <p>Click on the trash icon for the user you want to delete.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-delete.jpg
                  " alt="Picture of the Admin: User Config interface with the delete icon outlined in red."></div>
              </li>
              <br>
              <br>
              <li>
                <p>On the popup, click OK to delete the user(Note: Once the user is deleted, they can not be brought back).</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-delete-popup.jpg
                  " alt="Picture of the popup to confirm the deletion of a user."></div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Account Registration
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq">
          <div class="accordion-body">
            <ol>
              <li>
                <p>Click on the Sign-in button on the home page of Bob's Computer Repair Shop.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-home-page-signup.jpg
                  " alt="Picture of BCRS home page with Sign-in outlined in red."></div>
              </li>
              <br>
              <br>
              <li>
                <p>Click on Sign up now.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-sign-up-now.jpg"
                  alt="Picture of the Sign In interface with Sign up now outlined in red."></div>
              </li>
              <br>
              <br>
              <li>
                <p>Fill out the required fields then click continue.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-user-info.jpg"
                  alt="Picture of the User Information form with First Name, Last Name, Phone Number, and Address"></div>
              </li>
              <br>
              <li>
                <p>Click on the drop down menu to view the questions.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-q-drop.jpg"
                  alt="Picture of the Security Questions form with 3 questions to answer."></div>
              </li>
              <br>
              <li>
                <p>Click the question you would like to answer.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-q-pick.jpg"
                  alt="Security Questions dropped down menu with question options."></div>
              </li>
              <br>
              <li>
                <p>Type in your answer to the question.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-q-answer.jpg"
                  alt="Answer typed in for chosen security question"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Repeat for the other two questions then hit continue.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-q-continue.jpg"
                  alt="Security questions complete and continue button outlined."></div>
              </li>
              <br>
              <br>
              <li>
                <p>Type in a username that ends with @bcrs.com and a password containing at least 8 characters including one uppercase letter, one lowercase letter, and one number.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-user-set.jpg"
                  alt="User set form with email and password"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Sign in to the application using the username and password you just created.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-reg-sign-in.jpg"
                  alt="Sign In interface"></div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Reset Password
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
          <div class="accordion-body">
            <ol>
              <li>
                <p>When on the Sign-in page, click the "Forgot Password?" link.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-reset.jpg"
                  alt="Sign In Interface"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Type in your valid company email then click continue.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-email.jpg"
                  alt="Email validation"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Type in the answers for your security questions then click submit.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-sec-q.jpg"
                  alt="Three Security Questions"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Type in a new password containing at least 8 character, with at least one uppercase letter, one lowercase letter, and one number and type it again in the second box to confirm then click Reset Password.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-new-pw.jpg"
                  alt="New Password Creation"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Sign in with your new password</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-rp-signin.jpg"
                  alt="Sign In Interface"></div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- Commented Out these FAQ Accordions since we do not yet have these features in the application -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Service Repair Request
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFaq">
          <div class="accordion-body">
            <ol>
              <li>
                <p>When on the Home Page, click on the Service link at the top of the page.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-serv-home.jpg"
                  alt="Home page with Service outlined"></div>
              </li>
              <br>
              <br>
              <li>
                <p>You should see a list of Service Request options. Find which one(s) are being requested.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-serv-choice.jpg"
                  alt="Service request options"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Once you find the Service that is being requested, click on the check box next to it. You can click on multiple boxes if multiple services are being requested.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-serv-box.jpg"
                  alt="Service request checkbox"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Once you have checked all services being requested, scroll down and click the submit button.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-serve-button.jpg"
                  alt="Submit button"></div>
              </li>
              <br>
              <br>
              <li>
                <p>You should be taken to the receipt to confirm the request.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-serv-receipt.jpg" alt="Order receipt"></div>
              </li>
              <br>
              <br>
            </ol>
          </div>
        </div>
      </div>
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Invoice Summary
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFaq">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. Cras sed felis eget velit. Augue ut lectus arcu bibendum. Elit at imperdiet dui accumsan sit amet nulla facilisi morbi.
          </div>
        </div>
      </div> -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Purchases by Service
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFaq">
          <div class="accordion-body">
            <ol>
              <li>
                <p>When on the Home Page, click on the profile icon.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-pbs-home.jpg"
                  alt="Home page with Service outlined"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Click Graph on the drop down menu that displays.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-pbs-graph-menu.jpg"
                  alt="Home page with Service outlined"></div>
              </li>
              <br>
              <br>
              <li>
                <p>A Circle graph should appear with information on all the purchases at the shop.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-pbs-graph.jpg"
                  alt="Home page with Service outlined"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Hover over any piece of the pie graph to display data on individual service requests.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-pbs-graph-single.jpg"
                  alt="Home page with Service outlined"></div>
              </li>
              <br>
              <br>
              <li>
                <p>Click any of the labels in the key to to cross them off and take them out of the data that is displayed in the pie graph.</p>
                <div style="width: 50%;"><img class="faq-img img-fluid" src="/assets/img/faq-pbs-cross.jpg"
                  alt="Home page with Service outlined"></div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
