/**
  Title: Bob's Computer Repair Shop
  Author: Professer Krasso
  Modified by: Group 2 - Brooke Taylor, Janis Gonzalez, & Brett Grashorn
  Date: 10/01/23
  Description: order-summary styles
*/

.card {
  margin-top: 3em;
  border-radius: 15px;
}

.card-title {
  background-color: #372e29;
  border-radius: 15px 15px 0 0;
  color: white;
}

.brown {
  background-color: #372e29;
}

.card-footer {
  background-color: #ffd25f;
  border-radius: 0 0 15px 15px;
}
