/**
  Title: Bob's Computer Repair Shop
  Author: Professer Krasso
  Modified by: Group 2 - Brooke Taylor, Janis Gonzalez, & Brett Grashorn
  Date: 10/01/23
  Description: hides elements for print
*/

@media print {
  .hide-on-print {
    display: none;
  }
  .card {
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
}