<!--
  Title: Bob's Computer Repair Shop
  Arthur: Brooke Taylor, Brett Grashorn
  Date: 09/14/2023
  Description: nav component
-->

<nav class="ps-3 navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #372e29;">

  <a routerLink="/" class="navbar-brand">Bob's Computer Repair Shop</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >

    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar links -->

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav me-auto p-2">

      <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <a routerLink="#" class="nav-link">About</a>
      </li>

      <li class="nav-item">
        <a routerLink="#" class="nav-link">Service</a>
      </li>

      <li class="nav-item">
        <a routerLink="/directory" class="nav-link">Directory</a>
      </li>

      <li class="nav-item">
        <a routerLink="faq" class="nav-link">FAQ</a>
      </li>

      <li *ngIf="!isSignedIn">
        <a routerLink="/security/signin" class="nav-link">Sign-in</a>
      </li>
    <!-- User account -->

    <li *ngIf="isSignedIn" class="nav-item dropdown">
      <a
      href="#"
      class="nav-link pe-3"
      id="navbarDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <span class="material-icons">person</span>
    </a>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li class="dropdown-item">
        Signed in as {{ sessionUser.fullName }}
      </li>
      <hr>
      <li *ngIf="sessionUser.role === 'admin'">
        <a routerLink="/admin/users" class="dropdown-item">Users</a>
      </li>
      <li>
        <a (click)="signout()" class="dropdown-item link">Sign Out</a>
      </li>
    </ul>
    </li>
    </ul>
  </div>

</nav>

<br /><br /><br />