<!--
  Title: Bob's Computer Repair Shop
  Author: Professor Krasso
  Modified By: Brooke Taylor
  Date: 09/20/2023
  Description: forgot password html
-->

<div class="container">
  <div class="row justify-content-center m5">
    <div class="col-lg-6 col-md-10 col-sm-12">

<div class="card shadow">





  <!-- *** EMAIL SECTION  *** -->
  <div *ngIf="step === 'start'">

    <div class="card-title text-center">

      <h1 class="p-3">Password Reset</h1>

      <p class="text-start p-3">Forgot your password? Enter the email address that is associated with your account.</p>

    </div>



    <div class="m-5">

      <!-- error message -->
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>


      <form [formGroup]="emailForm" (ngSubmit)="emailSubmit(); emailForm.reset();">

        <!-- Email -->
        <div class="mb-4 mt-3 input">
          <label for="email" class="form-label">Email:</label>
          <input type="text" class="form-control" id="email" formControlName="email" />
        </div>


        <!-- validation for email -->
        <div *ngIf="emailForm.controls['email'].touched && emailForm.controls['email'].hasError('required')">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Email is required.
            <input type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </div>
        </div>

        <div *ngIf="emailForm.controls['email'].touched && emailForm.controls['email'].hasError('email')">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Please enter a valid email address.
            <input type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </div>
        </div>
        <!-- end email error handling -->

        <div class="d-grid">
          <button type="submit" class="btn text-light brown">
            <span *ngIf="!isLoading" class="text-hp">Continue</span>

            <div *ngIf="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
            </div>
          </button>
        </div>


      </form>



      </div>

    <div class="card-footer p-3">
      Have any questions or concerns? Please reach out to
      <a href="mailto:support@bcrs.com">support@bcrs.com</a>
    </div>



  </div><!-- END EMAIL SECTION  -->



















  <!-- *** SECURITY SECTION ***-->
<div *ngIf="step === 'security'">

  <div class="card-title text-center">
    <h1 class="p-3">Security Questions</h1>
    <p class="text-start p-3">Please answer the following questions in order to gain access to your account.</p>
  </div>

  <div class="m-5">

    <!-- error message -->
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <!-- Security questions form -->
    <div class="p-2" *ngFor="let question of questions; let i = index">
      <label>{{ question.question }}</label><br />
      <input type="text" [(ngModel)]="securityAnswers[i].answer" />
    </div>




    <div class="d-grid mt-3">
      <button type="button" class="btn text-light brown" (click)="submitAnswers()">
        <span *ngIf="!isLoading" class="text-hp">Submit</span>
        <div *ngIf="isLoading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
        </div>
      </button>
    </div>

  </div>

  <div class="card-footer p-3">
    Have any questions or concerns? Please reach out to
    <a href="mailto:support@bcrs.com">support@bcrs.com</a>
  </div>

</div><!-- END SECURITY SECTION -->




















  <!-- *** RESET SECTION ***-->
  <div *ngIf="step === 'reset'">

    <div class="card-title text-center">

      <h1 class="p-3">Reset</h1>

      <p class="text-start p-3">Please reset your password.</p>

    </div>


    <div class="m-5">

      <!-- error message -->
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>


     <!-- Password reset form -->
    <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
      <div class="mb-4 mt-3 input">
        <label for="password">New Password:</label>
        <input type="password" class="form-control" id="password" formControlName="password" />
      </div>

      <div class="mb-4 input">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
      </div>

      <!-- validation for passwords -->
      <div *ngIf="passwordResetForm.controls['password'].touched && passwordResetForm.controls['password'].hasError('required')">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          New Password is required.
          <input type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </div>
      </div>

      <div *ngIf="passwordResetForm.controls['confirmPassword'].touched && passwordResetForm.controls['confirmPassword'].hasError('required')">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          Confirm Password is required.
          <input type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </div>
      </div>



      <div *ngIf="passwordResetForm.controls['password'].touched && passwordResetForm.controls['password'].hasError('pattern')">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          The password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <!-- end password error handling -->


      <div class="d-grid">
        <button type="submit" class="btn text-light brown">
          <span *ngIf="!isLoading" class="text-hp">Reset Password</span>

          <div *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
          </div>
        </button>
      </div>
    </form>

    </div>

    <div class="card-footer p-3">
      Have any questions or concerns? Please reach out to
      <a href="mailto:support@bcrs.com">support@bcrs.com</a>
    </div>


  </div><!-- END RESET SECTION-->





</div>


<a routerLink="/" class="text-dark text-underline-hover p-3">Return</a>

</div>
</div>
</div>