

.card {
  margin-top: 3em;
  border-radius: 15px;
}

.card-title {
  background-color: #372e29;
  border-radius: 15px 15px 0 0;
  color: white;
}

.brown {
  background-color: #372e29;
}

.goBack {
  background-color: #7d685d;
}


.card-footer {
  background-color: #ffd25f;
  border-radius: 0 0 15px 15px;
}


.indicator {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid #372e29;
  border-radius: 50%;
  margin: 0 4px;
}

.dot.active {
  background-color: #372e29;
}