<!--
  Title: Bob's Computer Repair Shop
  Arthur: Professor Krasso
  Modified By: Group 2 - Brooke Taylor, Janis Gonzalez, & Brett Grashorn
  Date: 09/21/2023
  Description: register
-->

<div class="container">
  <div class="row justify-content-center m5">
    <div class="col-lg-6 col-md-10 col-sm-12">

      <div class="card shadow">

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="form row g-3">



        <!-- *** PERSONAL SECTION  *** -->
        <div *ngIf="step === 'start'">

          <div class="card-title text-center">

            <h1 class="p-3">User Information</h1>

            <p class="text-start p-3">Please provide your information.</p>

          </div>


          <div class="m-5">





            <div class="row">
              <div class="col-md-6">
                <label class="form-label" for="firstName">First Name:</label>
                <input class="form-control" formControlName="firstName" type="text" id="firstName" name="firstName" required>

                <!-- Validation Errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
                  <div *ngIf="registerForm.controls['firstName'].hasError('required')">
                    First Name is Required</div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label" for="lastName">Last Name:</label>
                <input class="form-control" formControlName="lastName" type="text" id="lastName" name="lastName" required>

                <!-- Validation Errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
                  <div *ngIf="registerForm.controls['lastName'].hasError('required')">
                    Last Name is Required</div>
                </div>
              </div>
            </div>



            <div class="row mt-3">
              <div class="col-md-6">

                <label class="form-label" for="phoneNumber">Phone Number:</label>
                <input class="form-control" formControlName="phoneNumber" type="text" id="phoneNumber" name="phoneNumber" required>


                <!-- Validation Errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['phoneNumber'].invalid && (registerForm.controls['phoneNumber'].dirty || registerForm.controls['phoneNumber'].touched)">
                  <div *ngIf="registerForm.controls['phoneNumber'].hasError('required')">
                    Phone Number is Required</div>

                    <div *ngIf="registerForm.controls['phoneNumber'].hasError('pattern')">
                      Phone Number must be a number.
                    </div>

                </div>

              </div>


              <div class="col-md-6">
                <label class="form-label" for="address">Address:</label>
                <input class="form-control" formControlName="address" type="text" id="address" name="address" required>


                <!-- Validation Errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['address'].invalid && (registerForm.controls['address'].dirty || registerForm.controls['address'].touched)">
                  <div *ngIf="registerForm.controls['address'].hasError('required')">
                    Address is Required</div>
                </div>

              </div>

            </div>





            <div class="d-grid mt-5">
              <button class="btn text-light brown" (click)="next('secQ')" [disabled]="!personalRequired()">
                <span class="text-hp">Continue</span>
              </button>
            </div>

            <div class="d-grid mt-3">
              <button a routerLink="/security/signin" class="btn text-light goBack">
                <span class="text-hp">Go Back</span>
              </button>
            </div>



          </div>

          <div class="card-footer p-3">
            Have any questions or concerns? Please reach out to
            <a href="mailto:support@bcrs.com">support@bcrs.com</a>
          </div>

        </div><!-- END PERSONAL -->












          <!-- *** SECURITY SECTION  *** -->
          <div *ngIf="step === 'secQ'">

            <div class="card-title text-center">

              <h1 class="p-3">Security Questions</h1>

              <p class="text-start p-3">Please answer some security questions.</p>

            </div>


            <div class="m-5">


              <!-- Question row 1 -->
              <div class="row">
                <div>
                  <label for="q1">Question:</label>
                  <select name="q1" id="q1" formControlName="question1" class="form-select">
                    <option *ngFor="let question of qArr1" [value]="question">{{ question }}</option>
                  </select>

                  <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question1'].invalid && (registerForm.controls['question1'].dirty || registerForm.controls['question1'].touched)">
                    Question is required.
                  </div>
                </div>


              </div><!-- end row -->


<div class="row">

  <div>
    <label for="a1">Answer:</label>
    <input type="text" id="a1" formControlName="answer1" name="a1" class="form-control answer" required>

    <!-- Validation errors -->
    <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['answer1'].invalid && (registerForm.controls['answer1'].dirty || registerForm.controls['answer1'].touched)">
      <div *ngIf="registerForm.controls['answer1'].hasError('required')">Answer is required.
    </div>
  </div>
</div>

</div>








          <!-- Question Row 2 -->
          <div class="row mt-5">
            <div>
              <label for="q2">Question</label>
              <select name="q2" id="q2" formControlName="question2" class="form-select">
                <option *ngFor="let question of qArr2" [value]="question">{{ question }}</option>
              </select>

              <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question2'].invalid && (registerForm.controls['question2'].dirty || registerForm.controls['question2'].touched)">
                <div *ngIf="registerForm.controls['question2'].hasError('required')">
                  Question is required.
                </div>
              </div>
            </div>

          </div><!-- end row -->



<div class="row">


  <div>
    <label for="a2">Answer:</label>
    <input type="text" id="a2" formControlName="answer2" name="a2" class="form-control answer" required>

    <!-- Validation errors -->
    <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['answer2'].invalid && (registerForm.controls['answer2'].dirty || registerForm.controls['answer2'].touched)">
      <div *ngIf="registerForm.controls['answer2'].hasError('required')">
        Answer is required.
      </div>
    </div>
  </div>


</div>






          <!-- Question row 3 -->
      <div class="row mt-5">
        <div>
          <label for="q3">Question</label>
          <select name="q3" id="q3" formControlName="question3" class="form-select">
            <option *ngFor="let question of qArr3" [value]="question">{{ question }}</option>
          </select>

          <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question3'].invalid && (registerForm.controls['question3'].dirty || registerForm.controls['question3'].touched)">
            <div *ngIf="registerForm.controls['question3'].hasError('required')">
            Question is required.
          </div>
        </div>
      </div>



            </div>





<div class="row">

  <div>
    <label for="a3">Answer:</label>
     <input type="text" id="a3" formControlName="answer3" name="a3" class="form-control answer" required>

    <!-- Validation errors -->
     <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['answer3'].invalid && (registerForm.controls['answer3'].dirty || registerForm.controls['answer3'].touched)">
       <div *ngIf="registerForm.controls['answer3'].hasError('required')">
         Answer is required.
       </div>
         </div>
       </div>


</div>




<div class="d-grid mt-5">
  <button class="btn text-light brown" (click)="next('userSet')" [disabled]="!questionsRequired()">
    <span class="text-hp">Continue</span>
  </button>
</div>



<div class="d-grid mt-3">
  <button (click)="next('start')" class="btn text-light goBack">
    <span class="text-hp">Go Back</span>
  </button>
</div>




            </div>
            <div class="card-footer p-3">
              Have any questions or concerns? Please reach out to
              <a href="mailto:support@bcrs.com">support@bcrs.com</a>
            </div>

          </div><!-- SECURITY SECTION -->

















          <!-- *** USER SET SECTION  *** -->
          <div *ngIf="step === 'userSet'">

            <div class="card-title text-center">

              <h1 class="p-3">User Set</h1>

              <p class="text-start p-3">Please provide your email and create a password.</p>

            </div>


            <div class="m-5">


              <div *ngIf="errorMessage" class="row">
                <div class="col-12">
                  <div class="alert alert-danger">
                    {{ errorMessage }}
                  </div>
                </div>
              </div>


              <div class="row">
                <div>
                  <label class="form-label" for="email">Email:</label>
                  <input class="form-control userSet" formControlName="email" type="text" id="email" name="email" required>

                  <!-- Validation Errors -->
                  <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                    <div *ngIf="registerForm.controls['email'].hasError('required')">Email is Required</div>

                    <div *ngIf="registerForm.controls['email'].hasError('email')">
                      Must be a valid email address.
                    </div>
                  </div>
                </div>


              </div>

              <div class="row mt-3">

                <div>
                  <label class="form-label" for="password">Password:</label>
                  <input class="form-control" formControlName="password" type="password" id="password" name="password" required>

                <!-- Validation Errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                  <div *ngIf="registerForm.controls['password'].hasError('required')">
                    Password is Required</div>

                  <div *ngIf="registerForm.controls['password'].hasError('pattern')">
                    Password must be at least 8 characters and contain at least one uppercase letter, one lowercase letter, and one number.
                  </div>
                </div>
                </div>

              </div>




              <div class="d-grid mt-5">
                <button class="btn text-light brown" type="submit" id="submit" [disabled]="!registerForm.valid" value="Register Account">

                  <span *ngIf="!isLoading" class="text-hp">Continue</span>

                  <div *ngIf="isLoading">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
                  </div>

                </button>
              </div>

              <div class="d-grid mt-3">
                <button (click)="next('secQ')" class="btn text-light goBack">
                  <span class="text-hp">Go Back</span>
                </button>
              </div>



            </div>

            <div class="card-footer p-3">
              Have any questions or concerns? Please reach out to
              <a href="mailto:support@bcrs.com">support@bcrs.com</a>
            </div>


          </div><!-- USER SET SECTION -->



          </form>



      </div><!-- end card -->

      <a routerLink="/" class="text-dark text-underline-hover p-3">Return</a>

    </div>
  </div>
</div><!-- end container -->