<!--
     Title: about.component.html
     Author: Professor Krasso
     Co-Author: Janis Gonzalez
     Date: 9/20/2023
     Description: HTML for about page
-->

<div class="container py-5">
  <div class="row py-5">
  <div class="col-12">
  <h1 class="mb-1 h1 font-weight-bold">About Us</h1>
  </div>
  <div class="col-lg-6 col-md-12">
  <p class="mb-4 lead mr-0 mr-lg-3 ">
    <!-- Mission Text -->
    <p class="indent welcome mb-2 small font-weight-bold text-uppercase"><strong>Our mission is clear:</strong> to provide fast, reliable, and cost-effective
      computer repair services while fostering a welcoming environment where customers can feel at ease.
      We believe that no computer problem is too big or too small, and we're dedicated to helping our clients
      navigate the ever-evolving world of technology.</p>

<!-- About text -->
  <p class="mr-0 mr-lg-3 text-muted"><p class="indent">Bob's Computer Repair Shop is more than just a business; it's a
    passion project brought to life by the visionary owner, Bob Lauori. Established in 1999, our shop has
    been a trusted destination for computer enthusiasts and everyday users alike, seeking expert assistance
    in diagnosing and resolving their computer woes.
    Bob Lauori's journey in the world of computers began years ago, driven by an insatiable curiosity and
    an innate knack for troubleshooting. His dedication to understanding the intricacies of computer systems
    led him to embark on this entrepreneurial venture, turning his passion into a thriving enterprise.</p>
    <p class="indent">Bob's Computer Repair Shop isn't just a place to fix computers; it's a community of like-minded
    individuals who share a passion for all things tech. We continuously invest in learning and adapting
    to the latest advancements in the industry to better serve our customers. Our commitment to staying
    at the forefront of technology ensures that we can always offer the best solutions available.</p>
    <p class="indent">As a new member of our team, you'll not only gain valuable technical experience but also become part
    of the Bob's Computer Repair Shop family. We encourage our employees to grow, learn, and innovate
    alongside us, just as Bob has done throughout his career.</p>
  </div>
  <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
    <!-- Youtube Video -->
  <div class="embed-responsive"><iframe
    class="embed-responsive container-fluid"
    width="600"
    height="500"
    src="https://www.youtube.com/embed/00y-aXu4AXg?si=r2WB36I3mQv_mrcV"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer;
    autoplay;
    clipboard-write;
    encrypted-media;
    gyroscope;
    picture-in-picture;
    web-share"
    allowfullscreen></iframe>
  </div>
  </div>
  </div>
  </div>