/**
  Title: Bob's Computer Repair Shop
  Author: Professer Krasso
  Modified by: Group 2 - Brooke Taylor, Janis Gonzalez, & Brett Grashorn
  Date: 10/01/23
  Description: my-profile styles
*/

.dark-yellow {
  background-color: #eeba35;
}

.profile-icon {
  color: #372e29;
}

.profile-name {
  font-size: 36px;
}