<!--
  Title: Bob's Computer Repair Shop
  Author: Professor Krasso
  Modified By: Brooke Taylor
  Date: 09/17/2023
  Description: index
-->

<div class="container-fluid pt-2">
  <h1 class="text-center">Welcome to the User Creation Page!</h1>


  <div class="container">
    <div class="row justify-content-center m5">
      <div class="col-lg-6 col-md-10 col-sm-12">

      <div class="card shadow">

        <form [formGroup]="userForm" (ngSubmit)="createUser();">

          <div class="card-title text-center">

            <h2 class="p-3">User Information</h2>

          </div>

          <div class="m-5">


            <div *ngIf="errorMessage">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ errorMessage }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>

            <fieldset class="form-group">


              <!-- *** START PERSONAL INFORMATION *** -->
              <div *ngIf="step === 'start'">

                <div class="mb-3">
                  <label for="txtFirstName">First Name:</label>

                  <input type="text" id="txtFirstName" class="form-control" formControlName="firstName" required>
                </div>

                <!-- first name error handling -->
                <div *ngIf="userForm.controls['firstName'].touched && userForm.controls['firstName'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    First name is required.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end first name error handling -->


                <div class="mb-3">
                  <label for="txtLastName">Last Name:</label>

                  <input type="text" id="txtLastName" class="form-control" formControlName="lastName" required>
                </div>

                <!-- last name error handling -->
                <div *ngIf="userForm.controls['lastName'].touched && userForm.controls['lastName'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Last name is required.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end last name error handling -->


                <div class="mb-3">
                  <label for="txtPhoneNumber">Phone Number:</label>

                  <input type="tel" id="txtPhoneNumber" class="form-control" formControlName="phoneNumber">
                </div>

                <div *ngIf="userForm.controls['phoneNumber'].touched && userForm.controls['phoneNumber'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please enter a valid phone number.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>


                <div *ngIf="userForm.controls['phoneNumber'].touched && userForm.controls['phoneNumber'].hasError('pattern')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Must be a number.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>


                <div class="mb-3">
                  <label for="txtAddress">Address:</label>

                  <textarea id="txtAddress" class="form-control" formControlName="address"></textarea>
                </div>

                <div *ngIf="userForm.controls['address'].touched && userForm.controls['address'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Address is required.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>

                <div class="d-grid mt-5">
                  <button class="btn text-light brown" (click)="next('set')" [disabled]="!personalRequired()">
                    <span class="text-hp">Continue</span>
                  </button>
                </div>


              </div>
              <!-- *** START PERSONAL INFORMATION *** -->



              <!-- *** SET USER INFORMATION *** -->
              <div *ngIf="step === 'set'">

                <div class="mb-3">
                  <label for="role">Role:</label><br />

                  <select formControlName="role" name="role" id="role" class="form-select-sm">
                  <option value="standard">Standard</option>
                  <option value="admin">Admin</option>
                  </select>
                </div>

                <!-- role error handling -->
                <div *ngIf="userForm.controls['role'].touched && userForm.controls['role'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Role is required.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end role error handling -->

                <div class="mb-3">
                  <label for="txtEmpId">Employee ID:</label>

                  <input type="text" id="txtEmpId" class="form-control" formControlName="empId" required>
                </div>

                <!-- user Id error handling -->
                <div *ngIf="userForm.controls['empId'].touched && userForm.controls['empId'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    User ID is required.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>

                <div *ngIf="userForm.controls['empId'].touched && userForm.controls['empId'].hasError('pattern')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Employee ID must be a number.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end employeeId error handling -->

                <div class="mb-3">
                  <label for="txtEmail">Email:</label>

                  <input type="text" id="txtEmail" class="form-control" formControlName="email" required>
                </div>

                <!-- email error handling -->
                <div *ngIf="userForm.controls['email'].touched && userForm.controls['email'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Email is required.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>

                <div *ngIf="userForm.controls['email'].touched && userForm.controls['email'].hasError('email')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please enter a valid email address.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- // end email error handling -->


                <div class="mb-3">
                  <label for="txtPassword">Password:</label>

                  <input type="password" id="txtPassword" class="form-control" formControlName="password" required>
                </div>

                <!-- password error handling -->
                <div *ngIf="userForm.controls['password'].touched && userForm.controls['password'].hasError('required')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Password is required.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>

                <div *ngIf="userForm.controls['password'].touched && userForm.controls['password'].hasError('pattern')">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    The password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number.

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <!-- end password error handling -->

                <div class="d-grid mt-5">
                  <button class="btn text-light brown" type="submit" id="submit" [disabled]="!userForm.valid" value="Register Account">

                    <span *ngIf="!isLoading" class="text-hp">Submit</span>

                    <div *ngIf="isLoading">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
                    </div>

                  </button>
                </div>

              </div>
              <!-- *** SET USER INFORMATION *** -->

            </fieldset>

          </div>
        </form>
      </div><!-- card -->
      <a routerLink="/admin/users" class="text-underline-hover text-dark">Return to User List</a>

    </div>
    </div>
  </div>

</div>