/**
  Title: signin.component.css
  Author: Brett Grashorn
  Date: 9/13/23
  Description: Styling for signin.component.html file
*/

/* changes background colors */

  .container {
    margin-top: 3em;
  }

  /* updated color to match selected dark house theme. */
  .button-brown {
    background-color: #372e29;
  }

  .dark-yellow {
    background-color: #eeba35;
  }

  .input {
    width: 95%;
    margin: auto;
  }

  .text-hp {
    color: #372e29;
  }

  .forgot-password {
    float: right;
    margin-right: 18px;
  }