<!--
  Title: Bob's Computer Repair Shop
  Arthur: Brooke Taylor
  Date: 09/13/2023
  Description: footer component
-->

<footer class="mt-5 container-fluid text-center p-5" style="background-color: #372e29;">

  <div class="container p-5 text-white fst-italic">
    <p>&copy; Copyright {{ currentYear }}. All Rights Reserved.</p>
    <p><a href="mailto:support@bcrs.com" class="text-white text-underline-hover">support@bcrs.com</a></p>

    <a href="https://www.facebook.com/" target="_blank">

      <!-- Image Source: https://about.meta.com/brand/resources/facebookapp/logo/ -->
      <img src="../../../assets/img/facebook-logo.png" alt="black and white facebook logo" class="pe-4">
    </a>

    <a href="https://www.twitter.com/" target="_blank">

      <!-- Image Source: https://about.twitter.com/en/who-we-are/brand-toolkit -->
      <img src="../../../assets/img/twitter-logo.png" alt="black and white twitter logo">

    </a>
  </div>

</footer>