/**
    Title: Bob's Computer Service
    Arthur: Professor Krasso
    Date: 09/15/2023
    Modified By: Brooke Taylor
    Description: user list styles
*/

th {
  background-color: #372e29;
  color: white;
}


.table-striped>tbody>tr:nth-child(odd)>td {
 background-color: #ffd25f;
}

.new {
  background-color: #372e29;
}

.even {
  background-color: #ffd25f;
 }

 .link {
  cursor: pointer;
 }

 tr:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
 }

 .card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
 }