/**
  Title: Bob's Computer Repair Shop
  Author: Professer Krasso
  Modified by: Group 2 - Brooke Taylor, Janis Gonzalez, & Brett Grashorn
  Date: 9/17/23
  Description: Harry Potter House colors.
*/

/* Color palette */
.dark-brown {
  color: #372e29;
}

.light-brown {
  color: #7D6B5D;
}

.dark-yellow {
  color: #eeba35;
}

.light-yellow {
  color: #ffd25f;
}