<!--
     Title: directory.component.html
     Author: Professor Krasso
     Co-Author: Janis Gonzalez
     Date: 9/18/2023
     Description: HTML for directory page
-->
<div class="container py-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <!-- title -->
      <h2 class="mb-2 h1 font-weight-bold">Employee Directory</h2>

      <!-- title description-->
      <p class="mb-5 text-black-50">Our employee directory page provides a comprehensive list of our organization's staff members,
        complete with their names, titles, and contact information. It's a valuable resource for quickly finding and connecting
        with the people who keep our company running smoothly.</p>
      <div class="row pt-3">
      <div class="col-lg-4 col-md-6 mb-4">
      <div class="p-4 border-light border rounded cc">
        <!-- box with rounded image -->
     <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
      <img class="rounded-circle img-fluid" src="./assets/img/directory-bob1.jpg" alt="directory image" />
     </div>
     <!-- employee 1 start -->
      <h5 class="name-color mb-3 mt-5">Bob Lauori</h5>
      <h6 class="job-color small text-uppercase">Owner</h6>
      <hr>
      <p class="mb-4 text-muted">Lauori is the dedicated owner of Bob's Computer Repair Shop. With over two decades of experience,
        Bob's passion for technology shines through in his expert repairs and friendly service. He's your go-to guru for all things
        computer-related, ensuring your digital world runs smoothly.</p>
        <p><a href="mailto:bob@bcrs.com" class="text-black text-underline-hover">bob@bcrs.com</a></p>
       </div>
      </div>
      <!-- employee 1 end -->
      <div class="col-lg-4 col-md-6 mb-4">
      <div class="p-4 border-light border rounded cc">
      <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
        <img class="quick img-fluid rounded-circle" src="./assets/img/directory-isolde.jpg" alt="directory image" />
     </div>
     <!-- employee 2 start -->
      <h5 class="name-color mb-3 mt-5">Isolde Grimrea</h5>
      <h6 class="job-color small text-uppercase">QA Analyst</h6>
      <hr>
      <p class="mb-4 text-muted">Isolde Grimrea, a dedicated QA analyst at Bob's Computer Repair Shop, ensures flawless software performance.
        With a keen eye for detail and a passion for technology, Isolde meticulously tests and refines systems, contributing to the shop's
        reputation for top-notch computer repair services.</p>
      <p><a href="mailto:isolde@bcrs.com" class="text-black text-underline-hover">isolde@bcrs.com</a></p>
             </div>
      </div>
      <!-- employee 2 end -->
  <div class="col-lg-4 col-md-6 mb-4">
  <div class="p-4 border-light border rounded cc">
       <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
        <img class="quick img-fluid rounded-circle" src="./assets/img/directory-wren.jpg" alt="directory image" />
     </div>
     <!-- employee 3 start -->
      <h5 class="name-color mb-3 mt-5">Wren Fierra</h5>
      <h6 class="job-color small text-uppercase">Network Manager</h6>
      <hr>
      <p class="mb-4 text-muted">Wren Fierra is the adept Network Manager at Bob's Computer Repair Shop. With a passion for all things tech,
        Wren ensures seamless connectivity and swift problem-solving. Their expertise keeps the shop's systems running smoothly, making them
        an indispensable part of the team.</p>
      <p><a href="mailto:wren@bcrs.com" class="text-black text-underline-hover">wren@bcrs.com</a></p>
             </div>
      </div>
      <!-- employee 3 end -->
      <div class="col-lg-4 col-md-6 mb-4">
      <div class="p-4 border-light border rounded cc">
     <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
      <img class="quick img-fluid rounded-circle" src="./assets/img/directory-serafina.jpg" alt="directory image" />
     </div>
     <!-- employee 4 start -->
      <h5 class="name-color mb-3 mt-5">Serafina Claourin</h5>
      <h6 class="job-color small text-uppercase">Data Scientist</h6>
      <hr>
      <p class="mb-4 text-muted">Serafina Claurin is our dedicated data scientist at Bob's Computer Repair Shop, as they wield the power of data to
        enhance our repair services. With a passion for problem-solving and a knack for analyzing tech trends, Serafina ensures we stay at
        the forefront of computer diagnostics and solutions.</p>
      <p><a href="mailto:serrafina@bcrs.com" class="text-black text-underline-hover">serafina@bcrs.com</a></p>
       </div>
      </div>
      <!-- employee 4 end -->
      <div class="col-lg-4 col-md-6 mb-4">
      <div class="p-4 border-light border rounded cc">
      <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
      <img class="quick img-fluid rounded-circle" src="./assets/img/directory-elowen.jpg" alt="directory image" />
     </div>
     <!-- employee 5 start -->
      <h5 class="name-color mb-3 mt-5">Elowen Carrera</h5>
      <h6 class="job-color small text-uppercase">Technical Support Specialist</h6>
      <hr>
      <p class="mb-4 text-muted">Elowen Carrera is a trusted technical support specialist at Bob's Computer Repair Shop. With a passion
        for solving complex tech issues, Elowen combines expertise with a friendly demeanor, ensuring every customer leaves with their
        computer problems resolved and a smile on their face. Your tech is in capable hands with Elowen.</p>
      <p><a href="mailto:elowen@bcrs.com" class="text-black text-underline-hover">elowen@bcrs.com</a></p>
             </div>
      </div>
      <!-- employee 5 end -->
  <div class="col-lg-4 col-md-6 mb-4">
  <div class="p-4 border-light border rounded cc">
       <div class="d-flex justify-content-center align-items-center border rounded-circle box-100 mx-auto">
        <img class="quick img-fluid rounded-circle" src="./assets/img/directory-alistar.jpg" alt="directory image" />
     </div>
     <!-- employee 6 start -->
      <h5 class="name-color mb-3 mt-5">Alistar Jioerta</h5>
      <h6 class="job-color small text-uppercase">Technical Support Specialist</h6>
      <hr>
      <p class="mb-4 text-muted">Alistar Jioerta is a technical support specialist at Bob's Computer Repair Shop. With a passion
        for solving intricate tech puzzles, Alistar boasts a wealth of knowledge in diagnosing and fixing computer issues. Clients
        appreciate his patient demeanor and knack for turning technical jargon into understandable solutions.</p>
      <p><a href="mailto:alistar@bcrs.com" class="text-black text-underline-hover">alistar@bcrs.com</a></p>
             </div>
      </div>
      <!-- employee 6 end -->
      </div>

    </div>
  </div>
</div>