/*
============================================
; Title: BCRS
; File Name: home.component.css
; Author: Janis Gonzalez
; Date: 9/12/2023
; Description: This is styling for home
; HTML file for the BCRS application
;===========================================
*/

.quick {
  width: 50%;
  height: auto;
  padding: 12px 2px 0px 0px;
  margin-right: 0px;

}

.quicker {
  display: flex;
  justify-content: middle;
  align-items: flex-start;
  flex-wrap: wrap;
}


.banner {
  height: auto;
  padding: 0px;

  display: flex;
  justify-content: middle;
  align-items: flex-start;
  flex-wrap: wrap;
}

.helpbanner {
  height: auto;
  padding: 22px;

  display: flex;
  justify-content: middle;
  align-items: flex-end;
  flex-wrap: wrap;
}

.banner-text {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: middle;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cnewsfeed {
  display: flex;
  align-items: center;
}

.weather {
  padding: 0px 0px 0px 0px;
  width: 100%;

}

.calendar {
  padding: 0px;
  width: 100%;
}