<!--
     Title: home.component.html
     Author: Professor Krasso
     Co-Author: Janis Gonzalez
     Date: 9/12/2023
     Description: HTML for home page
-->


<div class="container mt-5 mb-3">
  <div class="row align-content-center">
    <!-- about us image column-->
    <div class="col-md-10">
      <img src="./assets/img/home-empower-mobile.png"
      alt="two people cheering in front of empower text"
      class="img-fluid">
    </div>
    <!-- task column-->
    <div class="col-md-2">
      <img class="banner img-fluid d-none d-md-block" src="./assets/img/home-byte.png" alt="banner with text" />
      <h2 class="display-6 text-center"></h2>
      <div class="col-sm-12">
        <!-- sign in img-->
        <a routerLink="/security/register">
          <img class="quick img-fluid" src="./assets/img/home-register.png" alt="register image" />
        </a>
        <!-- my profile img-->
        <a routerLink="/profile">
          <img class="quick img-fluid" src="./assets/img/home-profile.png" alt="profile image" />
        </a>
      </div>




        <div class="col-sm-12">
        <!-- employee directory img-->
        <a routerLink="/directory">
          <img class="quick img-fluid" src="./assets/img/home-directory.png" alt="directory image" />
        </a>
        <!-- help desk img-->
        <a routerLink="/faq">
          <img class="quick img-fluid" src="./assets/img/home-faq.png" alt="faq image" />
        </a>
        <a href="https://animalfoundation.com"><img class="helpbanner img-fluid" src="./assets/img/home-foundation.png" alt="banner with text" /></a>
      </div>
    </div>
    <!-- end of task column-->
  </div>
</div>
<!-- end of empower container-->

<!-- start of newsfeed container -->
<div class="container mt-2 mb-5">
  <div class="cnewsfeed row">
    <!-- text on left -->
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="table-active"></th>
            <th scope="col" class="table-active">Reminders</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">-</th>
            <td>Thank you for your dedication to our shop.</td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>We appreciate your active participation in staying connected.</td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>We value your input!</td>
          </tr>
          <tr>
            <th scope="row">-</th>
            <td>Check out our partner foundation this month.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end text on left -->
     <!-- newsfeed carousel -->
     <div class="col-md-4"><iframe
      src="https://api.wo-cloud.com/content/widget/?geoObjectKey=6420209&language=en&region=US&timeFormat=HH:mm&windUnit=mph&systemOfMeasurement=imperial&temperatureUnit=fahrenheit"
      name="CW2"
      scrolling="no"
      width="600"
      height="300"
      frameborder="0"
      class="weather">
      </iframe></div>
<!-- calendar -->
    <div class="col-md-4"><iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23eeba35&ctz=America%2FLos_Angeles&title=Bob's%20Computer%20Repair%20Shop&showTz=1&showTabs=1&showNav=1&src=Nzc4NzE5ZDdjNjcxYzY3MTcwNDY0MjBhYTVhM2RiMmVlMzA1MjUxZGQ1NzhiYTU5ZDUwMWJmNmYyNjYzNDExZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F6BF26"
      width="600"
      height="300"
      frameborder="0"
      scrolling="no"
      class="calendar">
    </iframe></div>
    <!-- end calendar-->


  </div>
</div>
