<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Home Component Works! <span class="material-icons">thumb_up</span></h1>
    </div>
  </div>

  <a routerLink="/security">Test Security Module</a>



  <div class="row">

    <div class="col-3">
      <div class="p-3" style="background-color: #eeba35;">home about contact</div>
      <div style="min-height: 400px; background-color: #7d6b5d;">

        <div class="p-3">
          <div class="card p-3">
            <h1>Hocus Pocus</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque iste tempore, architecto ut consequatur sint blanditiis fugiat vitae tempora deleniti, exercitationem suscipit est neque corrupti voluptates porro natus repellendus fuga?</p>

            <input type="text" placeholder="text">

            <button type="button" class="btn mt-3" style="background-color: #372e29;color: white;">Submit</button>

          </div>
        </div>

      </div>
    </div>




    <div class="col-3">
      <div class="p-3" style="background-color: #eeba35;">home about contact</div>
      <div style="min-height: 400px; background-color: #372e29;">

        <div class="p-3">
          <div class="card p-3">
            <h1>Hocus Pocus</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque iste tempore, architecto ut consequatur sint blanditiis fugiat vitae tempora deleniti, exercitationem suscipit est neque corrupti voluptates porro natus repellendus fuga?</p>

            <input type="text" placeholder="text">

            <button type="button" class="btn mt-3" style="background-color: #7d6b5d;color: white;">Submit</button>

          </div>
        </div>

      </div>
    </div>

    <div class="col-3">
      <div class="p-3" style="background-color: #372e29; color: white">home about contact</div>
      <div style="min-height: 400px; background-color: #ffd25f;">

        <div class="p-3">
          <div class="card p-3">
            <h1>Hocus Pocus</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque iste tempore, architecto ut consequatur sint blanditiis fugiat vitae tempora deleniti, exercitationem suscipit est neque corrupti voluptates porro natus repellendus fuga?</p>

            <input type="text" placeholder="text">

            <button type="button" class="btn mt-3" style="background-color: #372e29; color: white;">Submit</button>

          </div>
        </div>


      </div>
    </div>


    <div class="col-3">
      <div class="p-3" style="background-color: #372e29; color: white">home about contact</div>
      <div style="min-height: 400px; background-color: #eeba35;">

        <div class="p-3">
          <div class="card p-3">
            <h1>Hocus Pocus</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque iste tempore, architecto ut consequatur sint blanditiis fugiat vitae tempora deleniti, exercitationem suscipit est neque corrupti voluptates porro natus repellendus fuga?</p>

            <input type="text" placeholder="text">

            <button type="button" class="btn mt-3" style="background-color: #372e29; color: white;">Submit</button>

          </div>
        </div>


      </div>
    </div>




  </div>


</div>


