<!--
  Title: Bob's Computer Repair Shop
  Author: Professor Krasso
  Modified By: Group 2 - Brooke Taylor, Janis Gonzalez, & Brett Grashorn
  Date: 09/26/2023
  Description: Services page
-->


<div class="container">

  <form #orderForm="ngForm" (submit)="generateOrder(); orderForm.reset()">

    <div class="row d-flex justify-content-center mt-5">

      <!-- PRODUCT ARRAY -->
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let product of products">
        <div class="card shadow">
          <div class="card-title">

            <fieldset class="p-3">
              <legend>{{ product.title }}</legend>

              <div class="d-flex justify-content-around">
                <input type="checkbox" [value]="product.price" [(ngModel)]="product.checked" [name]="product.title">

                <label for="passwordReset">{{ product.price | currency:'USD' }}</label><br>
              </div>

            </fieldset>

          </div>

          <figure>
            <img class="img-fluid" [src]="product.imgUrl" alt="{{ product.title }} Icon">
          </figure>

          <div class="card-footer">{{ product.desc }}</div>
        </div>
      </div>
      <!-- PRODUCT ARRAY -->



      <!-- PARTS -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card shadow">
          <div class="card-title">

            <fieldset class="p-3">
              <legend>Parts</legend>

              <div class="d-flex justify-content-around">
                <input type="text" id="parts" name="parts" [(ngModel)]="order.partsAmount">
                <br>
              </div>

            </fieldset>

          </div>

          <figure>
            <img class="img-fluid" src="../../../assets/service/parts.png" alt="Parts Icon">
          </figure>

          <div class="card-footer">Please insert any additional fees associated with parts.</div>
        </div>
      </div>
      <!-- PARTS -->



      <!-- LABOR -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card shadow">
          <div class="card-title">

            <fieldset class="p-3">
              <legend>Labor</legend>

              <div class="d-flex justify-content-around">
                <input type="text" id="labor" name="labor" [(ngModel)]="order.laborAmount">
                <br>
              </div>

            </fieldset>

          </div>

          <figure>
            <img class="img-fluid" src="../../../assets/service/labor.png" alt="Labor Icon">
          </figure>

          <div class="card-footer">Labor is $50 / Hour. Please insert how many hours needed.</div>
        </div>
      </div>
      <!-- LABOR -->




      <div class="d-grid mt-5 col-8">

        <div class="alert alert-danger"  *ngIf="formSubmitted && errorMessage">
          {{ errorMessage }}
        </div>

        <button class="btn text-light brown" type="submit" id="submit"  value="Place Order">
          <span *ngIf="!isLoading" class="text-hp">Submit</span>


          <div *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
          </div>

        </button>
      </div>


    </div>

  </form>

</div><!-- .container -->
